* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 1s ease-out;
}

@keyframes i {
    from {
        transform: scale(1);
    }
    25% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
html {
    font-size: 10px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

main {
    height: 80%;
    width:60%;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main p {
    margin-top: 10px;
}
.record {
    display: block;
}

.record button {
    appearance: none;
    border: none;
    background-color: transparent;
}

.record button > svg {
    width: 20%;
    height: 20%;
    /* background-color: blue; */
}

.record button > svg:active {
    animation: i 4s ease-in-out 0ms infinite;

}
body > p{
    position: fixed;
    bottom: 10px;
    padding: 5px;
    color: white;
    background-color: red;
    opacity: 0;
    font-size: 16px;
    border: crimson 1px solid;
}